.video {
  width: 100%;
  max-width: 800px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title {
  margin-bottom: 0;
}

.band {
  margin-bottom: 0;
}
